@font-face {
  font-family: "icomoon";
  src: url("../font/icomoon.eot?r21d2c");
  src: url("../font/icomoon.eot?r21d2c#iefix") format("embedded-opentype"), url("../font/icomoon.ttf?r21d2c") format("truetype"), url("../font/icomoon.woff?r21d2c") format("woff"), url("../font/icomoon.svg?r21d2c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mysql:before {
  content: "\e900";
  color: #4479a1;
}

.icon-visualstudiocode:before {
  content: "\e901";
  color: #007acc;
}

.icon-visualstudio:before {
  content: "\e902";
  color: #5c2d91;
}

.icon-laravel:before {
  content: "\e903";
  color: #ff2d20;
}

.icon-php:before {
  content: "\e904";
  color: #777bb4;
}

.icon-javascript:before {
  content: "\e905";
  color: #f7df1e;
}

.icon-css3:before {
  content: "\e906";
  color: #1572b6;
}

.icon-html5:before {
  content: "\e907";
  color: #e34f26;
}

.icon-angle-up:before {
  content: "\e916";
}

.icon-angle-double-up:before {
  content: "\e917";
}

.icon-sort-asc:before {
  content: "\e918";
}

.icon-caret-up:before {
  content: "\e919";
}

.icon-arrow-circle-up:before {
  content: "\e91a";
}

.icon-arrow-up:before {
  content: "\e91b";
}

.icon-chevron-up:before {
  content: "\e91c";
}

.icon-angle-down:before {
  content: "\e910";
}

.icon-angle-double-down:before {
  content: "\e911";
}

.icon-sort-desc:before {
  content: "\e912";
}

.icon-sort-down:before {
  content: "\e912";
}

.icon-caret-down:before {
  content: "\e913";
}

.icon-arrow-down:before {
  content: "\e914";
}

.icon-chevron-down:before {
  content: "\e915";
}

.icon-envelope-open-o:before {
  content: "\e908";
}

.icon-paper-plane-o:before {
  content: "\e909";
}

.icon-send-o:before {
  content: "\e909";
}

.icon-paper-plane:before {
  content: "\e90a";
}

.icon-send:before {
  content: "\e90a";
}

.icon-envelope-open:before {
  content: "\e90b";
}

.icon-envelope:before {
  content: "\e90c";
}

.icon-github:before {
  content: "\e90d";
}

.icon-linkedin-square:before {
  content: "\e90e";
}

.icon-linkedin:before {
  content: "\e90f";
}

.icon-phone:before {
  content: "\e942";
}

.icon-map:before {
  content: "\e94b";
}

.icon-map2:before {
  content: "\e94c";
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

.icon-arrow-down2:before {
  content: "\ea3e";
}

.icon-circle-up:before {
  content: "\ea41";
}

.icon-circle-down:before {
  content: "\ea43";
}

.icon-github1:before {
  content: "\eab0";
}

.icon-windows8:before {
  content: "\eac2";
}

.icon-linkedin1:before {
  content: "\eac9";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-html-five:before {
  content: "\eae4";
}

.icon-html-five2:before {
  content: "\eae5";
}

.icon-css31:before {
  content: "\eae6";
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

#background-video {
  width: 2560px;
  height: 1440px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#page-wrapper {
  height: 100vh;
  background-attachment: fixed;
  position: relative;
  display: grid;
  grid-auto-rows: 100vh auto auto;
  grid-template-areas: "banner" "main" "footer";
}
@media (min-width: 768px) {
  #page-wrapper {
    grid-auto-rows: 100vh auto auto;
    grid-template-areas: "sidenav banner" "sidenav main" "sidenav footer";
    grid-template-columns: 180px 1fr;
  }
}
@media (min-width: 992px) {
  #page-wrapper {
    grid-template-columns: 200px 1fr;
  }
}
@media (min-width: 1200px) {
  #page-wrapper {
    grid-template-columns: 250px 1fr;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", "Verdana", "Trebuchet MS", sans-serif;
}

.section-title {
  color: white;
  padding: 20px;
  font-size: 30px;
}
@media (min-width: 576px) and (max-width: 768px) {
  .section-title {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .section-title {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .section-title {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .section-title {
    font-size: 50px;
  }
}

#sidenav {
  position: fixed;
  left: 0px;
  top: 0px;
  grid-area: sidenav;
  background-color: rgba(12, 0, 104, 0.1);
  width: 100px;
  height: 100%;
  backdrop-filter: blur(5px);
  display: none;
}
@media (min-width: 576px) and (max-width: 768px) {
  #sidenav {
    width: 120px;
  }
}
@media (min-width: 768px) {
  #sidenav {
    display: block;
    width: 180px;
  }
}
@media (min-width: 992px) {
  #sidenav {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  #sidenav {
    width: 250px;
  }
}
#sidenav-wrapper {
  padding-top: 30px;
}
#sidenav #initials {
  font-weight: 600;
  font-size: 50px;
  font-family: Roboto, "Verdana", "Trebuchet MS", sans-serif;
  text-align: center;
}
@media (min-width: 576px) and (max-width: 768px) {
  #sidenav #initials {
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  #sidenav #initials {
    font-size: 80px;
  }
}
@media (min-width: 992px) {
  #sidenav #initials {
    font-size: 100px;
  }
}
@media (min-width: 1200px) {
  #sidenav #initials {
    font-size: 140px;
  }
}
#sidenav #initials a {
  text-decoration: none;
  color: white;
  line-height: 100%;
  text-shadow: 0 0 10px #c1cae2;
  padding: 20px;
  margin-top: 20px;
}
#sidenav #initials a:hover {
  text-shadow: 0 0 10px #c1cae2, 0 0 10px #c1cae2;
}
#sidenav-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
  margin-bottom: 10px;
}
#sidenav-menu ul li {
  width: 100%;
  text-align: center;
}
#sidenav-menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.02);
}
#sidenav-menu ul li:hover a {
  color: #c1cae2;
}
@media (min-width: 992px) {
  #sidenav-menu ul li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
#sidenav-menu ul li a {
  color: #728380;
  font-size: 20px;
  font-weight: 400;
  font-family: "Titillium Web", "Verdana", "Trebuchet MS", sans-serif;
  padding: 10px 10px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
@media (min-width: 576px) and (max-width: 768px) {
  #sidenav-menu ul li a {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  #sidenav-menu ul li a {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  #sidenav-menu ul li a {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  #sidenav-menu ul li a {
    font-size: 28px;
  }
}
#sidenav-socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#sidenav-socials a {
  text-decoration: none;
}

.socials-icon {
  color: #728380;
  text-decoration: none;
  font-size: 32px;
}
@media (min-width: 576px) and (max-width: 768px) {
  .socials-icon {
    font-size: 38px;
  }
}
@media (min-width: 768px) {
  .socials-icon {
    font-size: 42px;
  }
}
@media (min-width: 992px) {
  .socials-icon {
    font-size: 46px;
  }
}
@media (min-width: 1200px) {
  .socials-icon {
    font-size: 40px;
  }
}
.socials-icon:hover {
  color: #c1cae2;
}

#hamburger {
  top: 20px;
  left: 20px;
  width: 50px;
  z-index: 100;
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  appearance: none;
  position: absolute;
  margin-top: -9px;
  color: green;
}
@media (min-width: 768px) {
  #hamburger {
    display: none;
  }
}
#hamburger::after, #hamburger::before, #hamburger #burger {
  content: "";
  width: 100%;
  height: 5px;
  margin: 9px 0;
  display: block;
  background-color: #fff;
  transition: 0.4s;
}

#banner-section {
  grid-area: banner;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#banner-text {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 50px;
  font-family: Roboto, "Verdana", "Trebuchet MS", sans-serif;
  text-shadow: 0 0 10px #c1cae2;
}
@media (min-width: 576px) and (max-width: 768px) {
  #banner-text {
    font-size: 80px;
  }
}
@media (min-width: 768px) {
  #banner-text {
    font-size: 80px;
  }
}
@media (min-width: 992px) {
  #banner-text {
    font-size: 100px;
  }
}
@media (min-width: 1200px) {
  #banner-text {
    font-size: 120px;
  }
}

#banner-subtext {
  text-align: right;
  color: #c1cae2;
  color: #FF9D00;
  font-weight: 300;
  font-size: 30px;
  border-top: 2px solid #FF9D00;
  font-family: "Titillium Web", "Verdana", "Trebuchet MS", sans-serif;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), 0 0 5px rgb(0, 0, 0);
}
@media (min-width: 576px) and (max-width: 768px) {
  #banner-subtext {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  #banner-subtext {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  #banner-subtext {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  #banner-subtext {
    font-size: 50px;
  }
}

#banner-link {
  margin-top: 300px;
  text-align: center;
  align-self: center;
  display: block;
  width: auto;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;
}
#banner-link:hover {
  color: #c1cae2;
}

#banner-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(1, 5, 13, 0.9) 80%);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 200px;
  z-index: -1;
}
@media (min-width: 576px) and (max-width: 768px) {
  #banner-gradient {
    width: 100%;
  }
}
@media (min-width: 768px) {
  #banner-gradient {
    width: calc(100% - 180px);
  }
}
@media (min-width: 992px) {
  #banner-gradient {
    width: calc(100% - 200px);
  }
}
@media (min-width: 1200px) {
  #banner-gradient {
    width: calc(100% - 250px);
  }
}

#main {
  grid-area: main;
}

#portfolio-section {
  background-color: rgba(1, 5, 13, 0.9);
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#portfolio-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 90vw;
}
@media (min-width: 576px) and (max-width: 768px) {
  #portfolio-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  #portfolio-wrapper {
    grid-template-columns: repeat(2, 1fr);
    width: 70vw;
  }
}
@media (min-width: 992px) {
  #portfolio-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  #portfolio-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.portfolio-item {
  text-align: center;
  padding: 20px;
  height: auto;
  width: auto;
}
.portfolio-item__image {
  height: auto;
  width: 90%;
  object-fit: cover;
  padding: 5px;
  border-radius: 20px;
}
.portfolio-item__title {
  color: #FF9D00;
  font-size: 20px;
  padding-bottom: 6px;
}
.portfolio-item__link1, .portfolio-item__link2 {
  color: #728380;
  text-decoration: none;
  font-size: 14px;
}
.portfolio-item__link1:hover, .portfolio-item__link2:hover {
  color: #c1cae2;
}

#contact-section {
  background-color: rgba(1, 5, 13, 0.9);
}

#contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact-form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px 20px;
  padding: 20px;
  min-width: 70vw;
}
@media (min-width: 576px) and (max-width: 768px) {
  #contact-form {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 20px;
    padding: 20px;
  }
}
@media (min-width: 768px) {
  #contact-form {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    padding: 20px;
  }
}
@media (min-width: 992px) {
  #contact-form {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  #contact-form {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    padding: 20px;
  }
}

#contact-form input, #contact-form textarea {
  background-color: #030f26;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 10px 12px;
  min-width: 200px;
  width: auto;
  box-shadow: none;
}
@media (min-width: 576px) and (max-width: 768px) {
  #contact-form input, #contact-form textarea {
    padding: 10px 15px;
  }
}
@media (min-width: 768px) {
  #contact-form input, #contact-form textarea {
    padding: 10px 15px;
  }
}
@media (min-width: 992px) {
  #contact-form input, #contact-form textarea {
    padding: 15px 25px;
  }
}
@media (min-width: 1200px) {
  #contact-form input, #contact-form textarea {
    padding: 15px 25px;
  }
}
#contact-form input::placeholder, #contact-form textarea::placeholder {
  color: #728380;
}

#contact-submit {
  cursor: pointer;
}

#contact-subject, #contact-message, #contact-submit {
  grid-column: span 1;
}
@media (min-width: 768px) {
  #contact-subject, #contact-message, #contact-submit {
    grid-column: span 2;
  }
}

#footer {
  grid-area: footer;
  background-color: rgba(1, 5, 13, 0.9);
  color: white;
}

#footer-link {
  padding-top: 100px;
  text-align: center;
  align-self: center;
  display: block;
  width: auto;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;
  padding-bottom: 50px;
}
#footer-link:hover {
  color: #c1cae2;
}

/*# sourceMappingURL=styles.css.map */
