
//  https://coolors.co/palette/dad7cd-a3b18a-588157-3a5a40-344e41
$green-darkest      : #344E41;
$green-dark         : #3A5A40;
$green-mid          : #588157;
$green-light        : #A3B18A;
$green-lightest     : #DAD7CD;

//  https://coolors.co/01050d-030f26-122835-728380-c1cae2
$rich-black         : #01050dff;
$oxford-blue        : #030f26ff;
$gunmetal           : #122835ff;
$battleship-gray    : #728380ff;
$french-gray        : #c1cae2ff;

$battleship-gray-hacky  : invert(51%) sepia(15%) saturate(262%) hue-rotate(120deg) brightness(96%) contrast(88%);
$french-gray-hacky      : invert(86%) sepia(45%) saturate(405%) hue-rotate(184deg) brightness(92%) contrast(91%);

$icon-w3schools     : #04AA6D;

//  https://coolors.co/030f26-0e44aa-347398-728380-c1cae2
$oxford-blue        : #030f26ff;
$cobalt-blue        : #0e44aaff;
$cerulean           : #347398ff;

//  Colours to compliment the blues
$mikado-yellow      : #FFC800;
$orange-peel        : #FF9D00;

$water-darkest       : $rich-black;
$water-dark          : $oxford-blue;
$water-mid           : $gunmetal;
$water-light         : $battleship-gray;
$water-lightest      : $french-gray;
$water-blue          : $cobalt-blue;


$bg-colour-dark     : rgba($water-darkest, 0.90);
$bg-colour          : $water-dark;


$blue-tint-trans    : rgba(12, 0, 104, 0.1);
$green-tint-trans   : rgba($bg-colour-dark, 0.1);

$txt-light          : white;
$txt-lightish       : $water-lightest;
$txt-green          : $water-light;
$txt-contrast       : $orange-peel;

$link               : $water-light;
$link-hover         : $water-lightest;
$link2               : $orange-peel;
$link2-hover         : $mikado-yellow;

$scroll             : white;
$scroll-hover       : $water-lightest;


$status-success-background          : #2ecc71;
$status-success-border              : #d6e9c6;
$status-success-color               : white;
$status-fail-background             : #f2dede;
$status-fail-border                 : #ebccd1;
$status-fail-color                  : #a94442;
$required-field-color               : #d24d57;
$has-error-color                    : #d64541;


//  Fonts
$font-titillium     : "Titillium Web", 'Verdana', 'Trebuchet MS', sans-serif;
$font-calibri       : 'Calibri', sans-serif;    //  Not Web Safe! Won't work on Android!
$font-poppins       : Poppins, 'Verdana', 'Trebuchet MS', sans-serif;
$font-roboto        : Roboto, 'Verdana', 'Trebuchet MS', sans-serif;
$font-verdana       : 'Verdana', sans-serif;
$font-trebuchet     : 'Trebuchet MS', sans-serif;
$font-tahoma        : 'Tahoma', sans-serif;
$font-arial         : 'Arial', sans-serif;

$font-primary       : $font-titillium;
$font-secondary     : $font-roboto;


//  Breakpoints
$break--xs: 1px;
$break--s: 576px;
$break--m: 768px;
$break--l: 992px;
$break--xl: 1200px;