
// https://coolors.co/palette/dad7cd-a3b18a-588157-3a5a40-344e41
$green-darkest      : #344E41;
$green-dark         : #3A5A40;
$green-mid          : #588157;
$green-light        : #A3B18A;
$green-lightest     : #DAD7CD;

// https://coolors.co/01050d-030f26-122835-728380-c1cae2
$rich-black         : #01050dff;
$oxford-blue        : #030f26ff;
$gunmetal           : #122835ff;
$battleship-gray    : #728380ff;
$french-gray        : #c1cae2ff;

$water-darkest       : $rich-black;
$water-dark          : $oxford-blue;
$water-mid           : $gunmetal;
$water-light         : $battleship-gray;
$water-lightest      : $french-gray;


$bg-colour-dark     : rgba($water-darkest, 0.9);
$bg-colour          : $water-dark;


$blue-tint-trans    : rgba(12, 0, 104, 0.1);
$green-tint-trans   : rgba($bg-colour-dark, 0.1);

$txt-light          : white;
$txt-lightish       : $water-lightest;
$txt-green          : $water-light;



$font-gill              : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;