// ==========================================================================
//  Base (To do with global elements and reuseable bits)
// ==========================================================================


//  The video playing as the background, acting as a banner
#background-video {

    $vid-w: 2560px;
    $vid-h: 1440px;

    width: $vid-w;
    height: $vid-h;
    width: 100vw;
    height: auto;
    //width: calc($vid-w/2);
    //height: calc($vid-h/2);

    //width: 100vw;
    //height: 100vh;
    position: fixed;
    z-index: -1;
    object-fit: cover;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}


//  Wrapped for the whole page.
//  Probably just useful for splitting off the nav and main sections
#page-wrapper {

    height: 100vh;
    //width: 100vw;
    //background-size: 2000px;
    //background-position: center 70%;
    background-attachment: fixed;
    position: relative;




    display: grid;


    grid-template-columns: 100px 1fr;

    @include mq(small) {
        grid-template-columns: 120px 1fr;
    }    
    @include mq(medium) {
        grid-template-columns: 180px 1fr;
    }    
    @include mq(large) {
        grid-template-columns: 200px 1fr;
    }                    
    @include mq(x-large) {
        grid-template-columns: 250px 1fr;
    }
    
    grid-auto-rows: 100vh auto auto;
    grid-template-areas:
    "sidenav banner"
    "sidenav main"
    "sidenav footer";

}

* {
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
}


.section-title {
    color: $txt-light;
    padding: 20px;
    font-size: 30px;

    @include mq(small) {
        font-size: 30px;
    }    
    @include mq(medium) {
        font-size: 40px;
    }    
    @include mq(large) {
        font-size: 50px;
    }                    
    @include mq(x-large) {
        font-size: 50px;
    }
}