// ==========================================================================
//  Nav Bar (Both the Sidebar and the Mobile view)
// ==========================================================================


#banner-section {
    grid-area: banner;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner-text {
    text-align: center;
    color: $txt-light;
    font-weight: 900;
    font-family: $font-gill;
    font-size: 100px;
}

#banner-link {
    padding-top: 100px;
    text-align: center;
    align-self: center;
    display: block;
    width: auto;
    font-family: $font-gill;
    color: $txt-lightish;
    font-size: 40px;
    text-decoration: none;

    &:hover {
        color: $txt-green;
        text-decoration: underline;
    }
}

#banner-gradient {
    background: linear-gradient(rgba(0, 0, 0, 0), $bg-colour-dark);
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 250px);
    height: 300px;
}