// ==========================================================================
//  Nav Bar (Both the Sidebar and the Mobile view)
// ==========================================================================


#banner-section {

    grid-area: banner;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: 2000px;

    background-position: center 70%;
    background-image: url(../img/banner1.jpg);

}

#banner-text {

    text-align: center;
    color: white;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;

}
