// ==========================================================================
//  Nav Bar (Both the Sidebar and the Mobile view)
// ==========================================================================


#banner-section {
    grid-area: banner;

    display: flex;
    flex-direction: column;


    align-items: center;
    justify-content: center;

}

#banner-overlay {
    margin: auto;
}

#banner-text {
    text-align: center;
    color: $txt-light;
    font-weight: 500;
    font-size: 50px;
    font-family: $font-secondary;
    text-shadow : 0 0 10px $water-lightest;

    display: block;

    
    @include mq(small) {
        font-size: 80px;
    }    
    @include mq(medium) {
        font-size: 80px;
    }    
    @include mq(large) {
        font-size: 100px;
    }                    
    @include mq(x-large) {
        font-size: 120px;
    }

    // NOTE TO SELF!!! -- use JS to assign new class, and attach all the animations to the classes instead!!

    
    //transition: opacity .25s ease-in-out; 
    //animation: fade 2s ease;


    opacity: 1;
    @keyframes fade {
        0% {opacity: 0.1;}
        100% {opacity: 1;}
    }

}

.wave {

    opacity: 1;
    position: relative;
    display: inline-block;
    animation: animate 4s ease-in-out infinite;

    @keyframes animate {
        0% {transform: translateY(0px);}
        50% {transform: translateY(-30px);}
        100% {transform: translateY(0px);}
    }
}

#banner-subtext {
    text-align: right;
    color: $txt-lightish;
    color: $txt-contrast;
    font-weight: 200;
    font-size: 30px;
    border-top: 2px solid $txt-contrast;
    font-family: $font-primary;

    text-shadow: 0 0 15px rgba(0,0,0,.8), 0 0 10px  rgba(0,0,0,.9), 0 0 5px rgba(0,0,0,1.0);
    
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: $txt-contrast;
    

        
    @include mq(small) {
        font-size: 40px;
    }    
    @include mq(medium) {
        font-size: 40px;
    }    
    @include mq(large) {
        font-size: 50px;
    }                    
    @include mq(x-large) {
        font-size: 50px;
    }
}

#banner-link {
    margin-bottom: 5%;
    text-align: center;
    align-self: center;
    display: block;
    width: auto;
    color: $scroll;
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;

    &:hover {
        color: $scroll-hover;
    }
}

#banner-gradient {
    background: linear-gradient(rgba(0, 0, 0, 0), $bg-colour-dark 80%);
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 200px;

    z-index: -1;

    @include mq(small) {
        width: 100%;
    }    
    @include mq(medium) {
        width: calc(100% - 180px);
    }    
    @include mq(large) {
        width: calc(100% - 220px);
    }                    
    @include mq(x-large) {
        width: calc(100% - 250px);
    }

}