// ==========================================================================
//  Nav Bar (Both the Sidebar and the Mobile view)
// ==========================================================================


#sidenav {

    position: fixed;
    left: 0px;
    top: 0px;

    grid-area: sidenav;
    background-color: $blue-tint-trans;

    width: 250px;
    height: 100%;

    
    backdrop-filter: blur(5px);

    &-wrapper {
        //background-color: rgba(255,255,255,0.2);
        
    }

    #initials {
        font-weight: 900;
        font-size: 200px;
        font-family: $font-gill;
        text-align: center;

        a {
            text-decoration: none;
            color: rgba($txt-light,1);
            line-height: 100%;
        }
    }

    &-menu {

        //background-color: cyan;

        ul {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin-top: 60px;
            margin-bottom: 60px;

            li {
                color: blue;
                
                :hover {
                    background-color: rgba(255,255,255,0.1);
                    //color: green;
                }
            
                //width: 100%;
                text-align: center;
                
                padding-top: 20px;
                padding-bottom: 20px;
    
                a {
                    //background-color: yellow;
                    color: white;

                    font-size: 30px;
                    font-weight: 200;
                    font-family: $font-gill;

                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding: 10px;
    
                    text-decoration: none;
                }
            }
        }
    }

    #socials {
        background-color: purple;
    }
    
}