// ==========================================================================
//  Portfolio
// ==========================================================================


#portfolio-section {

    background-color: $bg-colour-dark;

    //padding-top: 200px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#portfolio-wrapper {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 70vw;
    
    @include mq(small) {
        grid-template-columns: repeat(1, 1fr);
    }    
    @include mq(medium) {
        grid-template-columns: repeat(2, 1fr);
    }    
    @include mq(large) {
        grid-template-columns: repeat(2, 1fr);
    }                    
    @include mq(x-large) {
        grid-template-columns: repeat(3, 1fr);
    }


	//background-clip: content-box;
    

}

.portfolio-item {

    text-align: center;
    padding: 20px;

    height: auto;
    width: auto;

    &__image {
        height: auto;
        width: auto;
        max-width: 200px;
        //min-width: 200px;
        padding: 5px;
        border-radius: 20px;
    }

    &__title {
        color: $txt-light;
        font-size: 20px;
        padding-bottom: 6px;
    }

    &__link1, &__link2 {
        color: $link;
        text-decoration: none;
        font-size: 14px;

        &:hover {
            color: $link-hover;
        }
    }


}