// ==========================================================================
//  Portfolio
// ==========================================================================


#portfolio-spacer {

    height: 200px;
    width: 10px;

}

#portfolio-wrapper {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90vw;
    
    @include mq(small) {
        grid-template-columns: repeat(1, 1fr);
    }    
    @include mq(medium) {
        grid-template-columns: repeat(2, 1fr);
        width: 70vw;
    }    
    @include mq(large) {
        grid-template-columns: repeat(2, 1fr);
    }                    
    @include mq(x-large) {
        grid-template-columns: repeat(3, 1fr);
    }


	//background-clip: content-box;
    

}

.portfolio-item {

    text-align: center;
    padding: 20px;

    height: auto;
    width: auto;

    //max-height: 60v;


    &__image {
        height: auto;
        width: 90%;

        min-width: 90%;
        //max-height: 60vh;

        object-fit: cover;

        //max-width: 200px;
        //min-width: 200px;

        padding: 5px;
        border-radius: 10px;
        border-color: $orange-peel;
        border-width: 2px;
        border-style: solid;
    }

    &__title {
        color: $txt-contrast;
        font-size: 20px;
        padding-bottom: 6px;
    }

    &__link1, &__link2 {
        color: $link;
        text-decoration: none;
        font-size: 14px;

        &:hover {
            color: $link-hover;
        }
    }

    &__link1 {
        //float: left;
        margin-right: 10px;
    }

    &__link2 {
        //float: inline-end;
        margin-left: 10px;
    }


}